{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
  <h1>Find a Home in Pacific Palisades with a Local Expert</h1>
  <h2>Getting Started</h2>
  <p>Buying a home can be the biggest investment you will ever make. It involves many considerations that go beyond simply choosing a house you like.</p>
  <p>More than 80% of home buyers now start their search for a home online. After getting an idea of neighborhoods and pricing, an experience real estate broker can help you determine the trends and opportunities, as well as avoiding traps. I can assist you by first getting you pre-qualified for your loan so you can seize a good opportunity when in comes up. I can then alert you to available Pacific Palisades homes or in the area you desire as soon as they come on the market.</p>
  <p>With over 28 years experience in Pacific Palisades and the Westside, I can help you get a property that is right for you.</p>
  <p>Call direct at: 310-403-5535 or email at: <a href="mailto:AKWRealtor@gmail.com" id="mail-to">AKWRealtor@gmail.com</a>.</p>
  <iframe id="idxFrame" style="padding:0; margin-left: -35px; margin-top: 10px; padding-top: 0px; border:0px solid transparent; background-color:transparent;" frameborder="0" scrolling="no" src="http://www.themls.com/IDXNET/Default.aspx?wid=MgMVwPGG6%2fe%2fZu%2fuu3lAM0DUCXY3xRCLvXoCbb1PA8ljA5hnj25u6%2bY2dY%2blg8ET&&inv=1" width="933px" height="900px"></iframe>
</main>
{% endblock %}
