{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
  <h1>Find a Home in Pacific Palisades with a Local Expert</h1>
  <div class="aside-message">
    <aside>
      <h4>Let Me Find the Right Home for You!</h4>
      <div class="contact-form-wrapper">
        <form id="message-form" autocomplete="on" novalidate>
              <p>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Name">
                <span id="name-error" class="error-text"></span>
                <br />
              </p>
              <p>
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" placeholder="Phone Number">
                <span id="phone-email-error" class="error-text"></span>
                <span id="phone-error" class="error-text"></span>
                <br />
              </p>
              <p>
                <label for="email_address">Or Email</label>
                <input type="email" id="email_address" placeholder="Email">
                <span id="email-error" class="error-text"></span>
                <br />
              </p>

              <p>Price Range?
                <span>
                  <select id="price">
                    <!-- <option disabled selected value></option> -->
                    <option value="" selected>Select Price</option>
                    <option value="Buy $750K - $1.5M">$750K - $1.5M</option>
                    <option value="Buy $1.5 - $3.0M">$1.5 - $3.0M</option>
                    <option value="Buy $3.0 - $5.0M">$3.0 - $5.0M</option>
                    <option value="Buy $5.0M+">$5.0M+</option>
                  </select>
                </span>
              </p>

              <p>When do you want to buy? <br />
                <input type="radio" name="time" id="time" value="Buy Now" />
                  &nbsp;&nbsp; Now!<br />
                <input type="radio" name="time" id="time" value="Buy 1 - 3 Months" />
                  &nbsp;&nbsp; 1 - 3 Months<br />
                <input type="radio" name="time" id="time" value="Buy 3 - 6 Months" />
                  &nbsp;&nbsp; 3 - 6 Months<br />
                <input type="radio" name="time" id="time" value="Buy 6 Months +" />
                  &nbsp;&nbsp; 6 Months +
              </p>

              <p>
                <label for="message">Message</label>
                <textarea name="message" id="message" placeholder="Message" cols="30" rows="10"></textarea><br />
              </p>
          <button type="submit">Send Message</button>
        </form>
    
        <div id="mailer-message"></div>
      </div>
    </aside>
    <article>
      <h2>Getting Started</h2>
      <p>Buying a home can be the biggest investment you will ever make. It involves many considerations that go beyond simply choosing a house you like.</p>
      <p>More than 80% of home buyers now start their search for a home online. After getting an idea of neighborhoods and pricing, an experience real estate broker can help you determine the trends and opportunities, as well as avoiding traps. I can assist you by first getting you pre-qualified for your loan so you can seize a good opportunity when in comes up. I can then alert you to available Pacific Palisades homes or in the area you desire as soon as they come on the market.</p>
      <p>With over 28 years experience in Pacific Palisades and the Westside, I can help you get a property that is right for you.</p>
      <p>Call direct at: 310-403-5535 or email at: <a href="mailto:AKWRealtor@gmail.com" id="mail-to">AKWRealtor@gmail.com</a>.</p>
    </article>

  </div>

  <!-- <div style="background: var(--light-blue); height: 800px; border: 1px solid var(--dark-blue); padding: 0 20px;">
    <h2>MLS Search</h2>
  </div> -->
  
  
  <!-- <iframe id="idxFrame" style="padding:0; margin-left: -35px; margin-top: 10px; padding-top: 0px; border:0px solid transparent; background-color:transparent;" frameborder="0" scrolling="no" src="http://www.themls.com/IDXNET/Default.aspx?wid=MgMVwPGG6%2fe%2fZu%2fuu3lAM0DUCXY3xRCLvXoCbb1PA8ljA5hnj25u6%2bY2dY%2blg8ET&&inv=1" width="933px" height="900px"></iframe> -->
</main>
<script>
  const sendForm = (e) => {
    e.preventDefault()
    const MAILER_URL = 'https://api.westland.net/litp-mailer/'
    // Form constants
    const name = document.getElementById('name').value.trim()
    const phone = document.getElementById('phone').value.trim()
    const email_address = document.getElementById('email_address').value.trim()
    const message = document.getElementById('message').value.trim()
    let price = ''
    if (document.getElementById('price') !== null) {
      price = document.getElementById('price').value
    }
    let time = ''
    if (document.querySelector('input[name="time"]:checked') !== null) {
      time = document.querySelector('input[name="time"]:checked').value
    }
    const now = new Date()
    // Mailgun constants
    const email = `postmaster@mg.westland.net`
    const subject = `LITP WEBSITE MESSAGE from: ${name}`
    const text = (`Message from ${name}
      ${now}
      Name: ${name}
      Email: ${email_address}
      Phone: ${phone}
      Price: ${price}
      Time: ${time}
      Message: ${message}`
    )
    
    // Clear fetch message
    document.getElementById("mailer-message").innerHTML = ""
    
    // Clear form validation
    document.getElementById("name-error").innerHTML = ""
    document.getElementById("phone-email-error").innerHTML = ""
    document.getElementById("phone-error").innerHTML = ""
    document.getElementById("email-error").innerHTML = ""
    
    // Form validation
    let regex = ""
    let isNameValid = false
    let isPhoneOrEmail = false
    let isPhoneValid = true
    let isEmailValid = true
  
    if(name == "") {
      let message = '&nbsp; Please fill in your name'
      document.getElementById("name-error").innerHTML = message
      isNameValid = false
    } else {
      isNameValid = true
    }
  
    if((phone != "") || (email_address != "") ) {
      document.getElementById("phone-email-error").innerHTML = ""
      isPhoneOrEmail = true
    
      if(phone != "") {
        regex = /^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$/
        if(regex.test(phone) === false) {
          let message = '&nbsp; Please enter a correct phone number'
          document.getElementById("phone-error").innerHTML = message
          isPhoneValid = false
        } else {
          isPhoneValid = true
        }
      }
  
      if(email_address != "") {
        regex = /^\S+@\S+\.\S+$/
        if(regex.test(email_address) === false) {
          let message = '&nbsp; Please enter a correct email'
          document.getElementById("email-error").innerHTML = message
          isEmailValid = false
        } else {
          isEmailValid = true
        }
      }
    } else {
      let message = '&nbsp; Please enter phone or email'
      document.getElementById("phone-email-error").innerHTML = message
      isPhoneOrEmail = false
    }
    
    if(isNameValid == false) {
      return false
    }
    if(isPhoneOrEmail == false) {
      return false
    }
    if(isPhoneValid == false){
      return false
    }
    if(isEmailValid == false){
      return false
    }
    // End form validation
    
      fetch(MAILER_URL, {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ 
          email,
          subject,
          text,
        })
      })
      .then((data) => {
        if(data.status === 200) {
          let message = '<span class="message-success">Message Sent</span>'
          document.getElementById("mailer-message").innerHTML = message
        }
        console.log('success!', data)
      })
      .catch((err) => {
        console.log('error!', err)
        let message = '<span class="message-error">Message Error</span>'
        document.getElementById("mailer-message").innerHTML = message
      })
      messageForm.reset()
  }
  
  const messageForm = document.getElementById('message-form')
  messageForm.addEventListener('submit', sendForm)
</script>
{% endblock %}
