{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
<h2>4th of July Parade</h2>
<h3>The Best day of the Year in Pacific Palisades</h3>
<img src="/images/forth-of-july-parade.jpg" alt="4th of July Parade" />
<h4>For nearly Seven Decades the Pacific Palisades has been Celebrating the 4th of July with its own Hometown Parade.</h4>
<p>The day starts off with a 5K/10K Run, plus a Kids Run. Participants from all over come to enjoy this run through the beautiful, tree-lined streets of Pacific Palisades. The event also supports local charities. All are invited to run or walk in the event There is even a Kids Run for the Under 10 Set, or babies in strollers.</p>
<h4>The Day Continues around 3 pm for the Hometown Parade</h4>
<p>Around 3 pm the parade is kicked off by a group of skydivers jumping out of a plane and landing right in the middle of Sunset Blvd wearing their best Patriot outfits, some are even in their Elvis-Suits!</p>
<p>The annual parade goes for about 2 hours and features high school bands from all over, beautiful horse-riders, Mr and Miss Pacific Palisades, firefighters on their shiney engines, and many, many more. There is even a Kids on BIkes section and a Kids walking Dogs Group. Many residents line the streets of the parade route with their outdoor chairs the night before, to save a spot to view the parade.</p>
<p>Homeowners can also get in on the festivities by decorating their homes for a Best Decorated Award. It’s fun to go around the neighborhood to see the great decorations!</p>
</main>
{% endblock %}
