{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
<h1>Charities and Donation Centers on the Westside of Los Angeles</h1>
<hr>
<h3>Pacific Palisades, Santa Monica and Brentwood</h3>
<p>Once you have made the decision to go ahead and sell your property, the first order of business is to remove the clutter. This is an effective and inexpensive way to get your property to show it best and hopefully yield more profit. You may get a tax deduction from the donated items, as well as the satisfaction of knowing that you have help these needy charities.</p>
<p>Below is a short list of some of the many charities close to the Pacific Palisades, Brentwood and Santa Monica areas that I have donated to in the past. Some of the charities have their own trucks and will come right to your property and pick up the items you have left for them. You may want to call first and make sure that the charities are in need of the particular items that you are donating.</p>
<p><strong>Salvation Army. 1-800-SA-TRUCK (800-728-7825)</strong><br> Their website is great. You can schedule exactly what you want picked up and choose a pickup date at their main website: <a href="https://satruck.org/" target="_blank">www.satruck.com</a>.
They have their own trucks and will come right to your property and pick the items up. They prefer gently used items and will not always take everything.</p>
<p><strong>St. Joseph Center in Venice, CA (310) 399-1713</strong><br> Located at 404 Lincoln Blvd. They will pick up large items and you can also drop off items. their hours are: Mon-Sat (?am-5pm) and Sunday (10am-5pm). Best to call first and describe your donations.</p>
<p><strong>The National Council of Jewish Women/LA Council Thrift Shop <br>
(800) 400-6259 or (323) 655-3111</strong><br> (NCJW/LA) Located at 543 N. Fairfax Ave., Los Angeles. Their website is at <a href="http://ncjwla.org/" target="_blank">www.ncjwla.org</a>. They have nice woman's clothes, books, and some furniture. Call first and describe your donations.</p>
<p><strong>Vietnam Veterans of America 1-800-775-VETS (800-775-8387)</strong><br> Their website is <a href="www.vva.org" target="_blank">www.vva.org</a>. They have trucks and will come and pick up your labeled items from your front porch. You can use their automated phone system to schedule a pick up.</p>
</main>
{% endblock %}
