{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
  <h1>Restaurants</h1>
  <h2>Restaurants in Pacific Palisades</h2>

  <div id="places" class="places"></div>

</main>

<script>

const restaurants = [
  {
      property: "Palisades Garden Cafe",
      googleMap: "https://www.google.com/maps/place/Palisades+Garden+Cafe/@34.0459619,-118.5277837,16z/data=!4m5!3m4!1s0x80c2a37bb2010929:0x42429785171d881e!8m2!3d34.0457359!4d-118.5251171",
      image: "/images-places/garden_cafe.jpg",
      type: "Restaurants &amp; Delicatessens",
      address: "15231 La Cruz Dr, Pacific Palisades, CA 90272",
      phone: "(310) 459-616",
  },
  {
      property: "Gladstones Restaurant",
      googleMap: "https://www.google.com/maps/place/Gladstones+Restaurant/@34.0383784,-118.5588764,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a3f2d493cad3:0x6079a3cf068c163!8m2!3d34.0383784!4d-118.5566877",
      image: "/images-places/gladstones.jpg",
      type: "Restaurants &amp; Delicatessens",
      address: "17300 Pacific Coast Hwy, Pacific Palisades, CA 90272",
      phone: "(310) 454-3474",
  },
  {
      property: "Modo Mio",
      googleMap: "https://www.google.com/maps/place/Modo+Mio+-+cucina+rustica/@33.8077033,-118.4590067,10z/data=!4m8!1m2!2m1!1sModo+Mio!3m4!1s0x80c2a37baceb31e9:0x11c140187cf0c290!8m2!3d34.0459066!4d-118.524925",
      image: "/images-places/modo_mio.jpg",
      type: "Italian",
      address: "15200 Sunset Blvd #106, Los Angeles, CA 90272",
      phone: "(310) 459-0979",
  },
  {
      property: "Pinocchio In Cucina Inc",
      googleMap: "https://www.google.com/maps/place/Pinocchio+In+Cucina+Inc/@34.046321,-118.525941,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37afecbade7:0x8f93cfbb11c09c56!8m2!3d34.046321!4d-118.5237523",
      image: "/images-places/pinocchio.jpg",
      type: "Italian",
      address: "970 Monument St #110, Pacific Palisades, CA 90272",
      phone: "(310) 454-0709",
  },
  {
      property: "Rocco's Cucina",
      googleMap: "https://www.google.com/maps/place/Rocco's+Cucina/@34.0405781,-118.5555452,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a38d16e8e573:0xb5ede81de1c5a12f!8m2!3d34.0405781!4d-118.5533565",
      image: "/images-places/roccos_cucina.jpg",
      type: "Italian",
      address: "17338 Sunset Blvd, Pacific Palisades, CA 90272",
      phone: "(310) 573-3727",
  },
  {
      property: "Vittorio Ristorante &amp; Pizzeria",
      googleMap: "https://www.google.com/maps/place/Vittorio+Ristorante+%26+Pizzeria/@34.0479115,-118.5468203,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a39a09975c81:0x579911eac961fecc!8m2!3d34.0479115!4d-118.5446316",
      image: "/images-places/vittorio.jpg",
      type: "Italian",
      address: "16646 Marquez Ave, Pacific Palisades, CA 90272",
      phone: "(310) 459-9316",
  },
  {
      property: "The Coffee Bean &amp; Tea Leaf",
      googleMap: "https://www.google.com/maps/place/The+Coffee+Bean+%26+Tea+Leaf/@34.0467472,-118.5278227,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37a41735cf7:0xc5cf6764849c7bf!8m2!3d34.0467472!4d-118.525634",
      image: "/images-places/coffee_bean.jpg",
      type: "Coffee/Pastries/Bagels",
      address: "15278 Antioch St, Pacific Palisades, CA 90272",
      phone: "(310) 230-2587",
  },
  {
      property: "Noah's New York Bagel",
      googleMap: "https://www.google.com/maps/place/Noah's+Bagels/@34.0468202,-118.5253334,17z/data=!4m5!3m4!1s0x80c2a37a466af971:0x29de0d44e16465ab!8m2!3d34.046728!4d-118.525509",
      image: "/images-places/noah_bagel.jpg",
      type: "Coffee/Pastries/Bagels",
      address: "15270 Antioch St, Pacific Palisades, CA 90272",
      phone: "(310) 230-1461",
  },
  {
      property: "Starbucks",
      googleMap: "https://www.google.com/maps/place/Starbucks/@34.0471686,-118.5263912,20z/data=!4m5!3m4!1s0x80c2a37a15ab8471:0xee3f2158172feb7c!8m2!3d34.0472297!4d-118.5260546",
      image: "/images-places/starbucks.jpg",
      type: "Coffee/Pastries/Bagels",
      address: "15300 Sunset Blvd, Los Angeles, CA 90272",
      phone: "(310) 573-0177",
  },
  {
      property: "Subway",
      googleMap: "https://www.google.com/maps/place/Subway/@34.047237,-118.526065,15z/data=!4m13!1m7!3m6!1s0x80c2a37a144bdafd:0xbf6268da4de24c47!2s15302+Sunset+Blvd,+Los+Angeles,+CA+90272!3b1!8m2!3d34.0472374!4d-118.5260654!3m4!1s0x80c2a37a55d8e2d7:0xbd7364c242e0c36d!8m2!3d34.0472801!4d-118",
      image: "/images-places/subway.jpg",
      type: "Fast Food &amp; Takeout",
      address: "15302 Sunset Blvd, Los Angeles, CA 90272",
      phone: "(310) 459-5433",
  },
  {
      property: "Subway",
      googleMap: "https://www.google.com/maps/place/Subway/@34.0404974,-118.5555105,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a38d16b77e0f:0x2de469d6290b9441!8m2!3d34.0404974!4d-118.5533218",
      image: "/images-places/subway2.jpg",
      type: "Fast Food &amp; Takeout",
      address: "17334 Sunset Blvd, Pacific Palisades, CA 90272",
      phone: "(310) 573-7338",
  },
  {
      property: "Fiesta Feast",
      googleMap: "https://www.google.com/maps/place/Fiesta+Feast/@34.0404086,-118.5538011,17z/data=!4m5!3m4!1s0x80c2a38d16c11dcd:0x32fe7b61ed6008cd!8m2!3d34.040427!4d-118.553362",
      image: "/images-places/fiesta_feast.jpg",
      type: "Fast Food &amp; Takeout",
      address: "17336 Sunset Blvd, Pacific Palisades, CA 90272",
      phone: "(310) 459-7380",
  },
  {
      property: "Taco Bell",
      googleMap: "https://www.google.com/maps/place/Taco+Bell/@34.0389805,-118.5568206,17z/data=!4m8!1m2!2m1!1sTaco+Bell+Express+17299+Pacific+Coast+Highway!3m4!1s0x80c2a38d19469195:0xcbb47085fc3f82dd!8m2!3d34.0389703!4d-118.5546268",
      image: "/images-places/taco_bell.jpg",
      type: "Fast Food &amp; Takeout",
      address: "17299 Pacific Coast Hwy, Los Angeles, CA 90272",
      phone: "(310) 459-7645",
  },
  {
      property: "Cathay Palisades",
      googleMap: "https://www.google.com/maps/place/Cathay+Palisades/@34.047187,-118.5285236,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37a3e146f51:0x544d1a9c5c189eb6!8m2!3d34.047187!4d-118.5263349",
      image: "/images-places/cathay_palisades.jpg",
      type: "Chinese &amp; Asian",
      address: "15315 Antioch St, Pacific Palisades, CA 90272",
      phone: "(310) 459-9628",
  },
  {
      property: "Pearl Dragon",
      googleMap: "https://www.google.com/maps/place/Pearl+Dragon/@34.046699,-118.5269411,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37a59effb87:0x613aef4806fb8af0!8m2!3d34.046699!4d-118.5247524",
      image: "/images-places/pearl_dragon.jpg",
      type: "Chinese &amp; Asian",
      address: "15229 Sunset Blvd, Pacific Palisades, CA 90272",
      phone: "(310) 459-9790",
  },
  {
      property: "Kay N' Dave's Cantina",
      googleMap: "https://www.google.com/maps/place/Kayndaves/@34.0466272,-118.5273771,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37a5ab1ed79:0x56872a56225e1cb2!8m2!3d34.0466272!4d-118.5251884",
      image: "/images-places/kay_n_dave.jpg",
      type: "Mexican",
      address: "15246 Sunset Blvd, Pacific Palisades, CA 90272",
      phone: "(310) 459-8118",
  },
  {
      property: "Taj Palace Indian Cuisine",
      googleMap: "https://www.google.com/maps/place/Taj+Palace+Indian+Cuisine+%7C+Order+Food+Online+%7C+Clorder/@34.0459553,-118.5269419,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37baceb31e9:0xaba3307883a832ae!8m2!3d34.0459553!4d-118.5247532",
      image: "/images-places/taj_palace.jpg",
      type: "Indian",
      address: "15200 Sunset Blvd, Pacific Palisades, CA 90272",
      phone: "(310) 454-0988",
  },
  {
      property: "Domino's Pizza",
      googleMap: "https://www.google.com/maps/place/Domino's+Pizza/@34.0478401,-118.5461659,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a39a1248f51d:0x971eeca5fb36d0bd!8m2!3d34.0478401!4d-118.5439772",
      image: "/images-places/dominos.jpg",
      type: "Pizza",
      address: "16605 Sunset Blvd #103, Pacific Palisades, CA 90272",
      phone: "(310) 454-1035",
  },
  {
      property: "Sweet Rose Creamery",
      googleMap: "https://www.google.com/maps/place/Sweet+Rose+Creamery/@34.0461477,-118.5357246,14.4z/data=!4m8!1m2!2m1!1sice+cream!3m4!1s0x0:0x6ea49ade78ff5e71!8m2!3d34.0462635!4d-118.523705",
      image: "/images-places/sweet_rose.jpg",
      type: "Ice Cream",
      address: "970 Monument St, Los Angeles, CA 90272",
      phone: "(310) 260-2663",
  },
  {
      property: "Pure Energy Cafe",
      googleMap: "https://www.google.com/maps/place/Pure+Energy+Cafe/@34.03931,-118.5575071,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a38d24b48705:0x71117f2632bc98dc!8m2!3d34.03931!4d-118.5553184",
      image: "/images-places/pure_energy.jpg",
      type: "Sands/Salads/Juices",
      address: "17383 W Sunset Blvd # 380C, Pacific Palisades, CA 90272",
      phone: "(310) 573-4105",
  },
  {
      property: "Robeks Fresh Juices &amp; Smoothies",
      googleMap: "https://www.google.com/maps/place/Robeks+Fresh+Juices+%26+Smoothies/@34.046735,-118.5278557,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37a41735cf7:0x95cd75f83c63d89d!8m2!3d34.046735!4d-118.525667",
      image: "/images-places/robeks_fresh_juices.jpg",
      type: "Sands/Salads/Juices",
      address: "15280 Antioch St, Pacific Palisades, CA 90272",
      phone: "(310) 230-3991",
    }
  ]

  places.innerHTML = restaurants.map(function (restaurant) {
    return (`
    <div class="property-card bs" >
      <img src="${restaurant.image}">
      <div class="card-body">
        <h4>${restaurant.property}</h4>
        <p>${restaurant.address}</p>
        <p>Phone: ${restaurant.phone}</p>
      </div>
    </div>
    `)
  }).join('')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
<script>
  gsap.registerPlugin(ScrollTrigger)

  ScrollTrigger.batch(".property-card", {
    // markers: true,
    once: true,
    start: "top 80%",
    onEnter: (batch) =>
      gsap.from(batch, {
        autoAlpha: 0,
        duration: 0.3,
        ease: "power1",
        stagger: 0.1,
        y: "300"
      })
  })
</script>
  
{% endblock %}
