{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>

  <h1>Market Analysis</h1>
  <h2>How much is your Home Worth?</h2>

  <p>Let me help you evaluate your Pacific Palisades home's selling potential. With over 28 years of real estate experience in Pacific Palisades and the Westside, I can help you determine your home's estimated market value. One of the best ways to determine how much your home is worth is to compare it with similar homes that have recently sold in your area, as well as current homes on the market in the Palisades.</p>
  <p>An overpriced home can sit on the market for a longtime. An underpriced home may cost you thousands in lost profits. Before you sell a home, it is crucial that you know your home's true market value in today's ever-changing real estate market.</p>
  <p>Knowing what your Pacific Palisades home is worth is important if you are thinking of selling your home. Using the information you submit to us in the form, we will conduct a comparative market analysis by searching the database of all homes listed or sold in your area. With this current market data, we will be able to determine a range of what your Pacific Palisades home might sell for if you decided to put it on the market.</p>
  <p>Call direct at: 310-403-5535 or email at: <a href="mailto:AKWRealtor@gmail.com" id="mail-to">AKWRealtor@gmail.com</a>.</p>

</main>
{% endblock %}
