{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">' %}

{% extends "base.njk" %}

{% block content %}
<main>
  <h1>Places of Worship</h1>
  <h2>Places of Worship in Pacific Palisades</h2>
  <div id="places" class="places"></div>

<script>
const placesOfWorship = [
  {
    googleMap: "https://www.google.com/maps/place/Calvary+Church+of+Pacific/@34.0484197,-118.5553028,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a39459a3572d:0x9d8a11ec9d5146d9!8m2!3d34.0484197!4d-118.5531141",
    property: "Calvary Church of Pacific",
    image: "/images-places/calvary_church.jpg",
    type: "Non-Denominational",
    address: "701 Palisades Drive, Pacific Palisades, CA 90272",
    phone: "(310) 454-6537"
  },
  {
    property: "Chabad of Pacific Palisades",
    googleMap: "https://www.google.com/maps/place/Chabad+of+Pacific+Palisades/@34.041306,-118.5563167,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37baceb31e9:0x78454c1d410581dd!8m2!3d34.041306!4d-118.554128",
    image: "/images-places/chabad_church.jpg",
    type: "Judaism",
    address: "17315 Sunset Blvd, Pacific Palisades, CA 90272",
    phone: "(310) 454-7783"
  },
  {
    property: "The Church of Jesus Christ of Latter-day Saints",
    googleMap: "https://www.google.com/maps/place/Marquez+Charter+School/@34.0457705,-118.5497239,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a390fe7c7b67:0x67d91573f148b0eb!8m2!3d34.0457705!4d-118.5475352",
    image: "/images-places/latter_day_saints.jpg",
    type: "Mormonism",
    address: "575 Los Liones Dr, Los Angeles, CA 90272",
    phone: "(310) 459-1626"
  },
  {
    property: "Corpus Christi Catholic Church",
    googleMap: "https://www.google.com/maps/place/Corpus+Christi+Catholic+Church/@34.0447224,-118.5257154,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a37b7e867e4d:0xb6636f03a0991bc6!8m2!3d34.0447224!4d-118.5235267",
    image: "/images-places/corpus_church.jpg",
    type: "Catholicism",
    address: "880 Toyopa Dr, Pacific Palisades, CA 90272",
    phone: "(310) 454-1328"
  },
  {
    property: "Kehillat Israel",
    googleMap: "https://www.google.com/maps/place/Kehillat+Israel/@34.0490938,-118.5372992,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a39da4d17655:0x879ba268d9e84d58!8m2!3d34.0490938!4d-118.5351105",
    image: "/images-places/kehillat_israel.jpg",
    type: "Judaism",
    address: "16019 Sunset Blvd, Pacific Palisades, CA 90272",
    phone: "(310) 459-2328"
  },
  {
    property: "Community United Methodist Church",
    googleMap: "https://www.google.com/maps/place/Community+United+Methodist+Church+of+Pacific+Palisades/@34.045226,-118.5302283,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a3797a1b8527:0xfa9df2b2b14ec7de!8m2!3d34.045226!4d-118.5280396",
    image: "/images-places/community_united_church.png",
    type: "Methodism",
    address: "801 Vía De La Paz, Pacific Palisades, CA 90272",
    phone: "(310) 454-5529"
  },
  {
    property: "Pacific Palisades Presbyterian Church",
    googleMap: "https://www.google.com/maps/place/Pacific+Palisades+Presbyterian+Church/@34.0489875,-118.5347642,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a377cd607ca3:0x2d1c3d45d0a22fe4!8m2!3d34.0489875!4d-118.5325755",
    image: "/images-places/presbyterian_church.jpg",
    type: "Christianity",
    address: "15821 Sunset Blvd, Pacific Palisades, CA 90272",
    phone: "(310) 454-0366"
  },
  {
    property: "Palisades Lutheran Church",
    googleMap: "https://www.google.com/maps/place/Palisades+Lutheran+Church/@34.049194,-118.5362277,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a39d827cc92f:0x9e9de1d07baa15ef!8m2!3d34.049194!4d-118.534039",
    image: "/images-places/palisades_lutheran_church.jpg",
    type: "Christianity",
    address: "15905 Sunset Blvd, Pacific Palisades, CA 90272/p",
    phone:"(310) 459-2358"
  },
  {
    property: "St Matthew's Episcopal Church",
    googleMap: "https://www.google.com/maps/place/St+Matthew's+Episcopal+Church/@34.0539178,-118.544406,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a3987c9e3923:0x913c28a0c7087925!8m2!3d34.0539178!4d-118.5422173",
    image: "/images-places/matthews_episcopal.jpg",
    type: "Christianity",
    address: "1031 Bienveneda Ave, Pacific Palisades, CA 90272",
    phone: "(310) 454-1358"
  },
  {
    property: "Self Realization Fellowship Lake Shrine Temple",
    googleMap: "https://www.google.com/maps/place/Self+Realization+Fellowship+Lake+Shrine+Temple/@34.0426932,-118.5547939,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2a392695965ab:0x5880986bb5a593a8!8m2!3d34.0426932!4d-118.5526052",
    image: "/images-places/self_realization_temple.jpg",
    type: "Spirituality",
    address: "17190 Sunset Blvd, Pacific Palisades, CA 90272",
    phone: "(310) 454-4114"
  }
]

places.innerHTML = placesOfWorship.map(function (place) {
    return (`
    <div class="property-card bs" >
      <img src="${place.image}">
      <div class="card-body">
        <h4>${place.property}</h4>
        <p>${place.address}</p>
      </div>
    </div>
    `)
  }).join('')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
<script>
  gsap.registerPlugin(ScrollTrigger)

  ScrollTrigger.batch(".property-card", {
    // markers: true,
    once: true,
    start: "top 80%",
    onEnter: (batch) =>
      gsap.from(batch, {
        autoAlpha: 0,
        duration: 0.3,
        ease: "power1",
        stagger: 0.1,
        y: "300"
      })
  })
</script>
</main>
{% endblock %}
