{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
  <h1>CONTACT ME</h1>
  <p>Please fill in the contact box below and we will get back to you shortly. </br>
    You can also call or text me directly at: 310 403 5535 </br>
    I look forward to speaking with you!</p>


  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.677979397636!2d-118.47376128432361!3d34.05213058060595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bca77e6bb323%3A0x5023aca296d29cd8!2s11940+San+Vicente+Blvd+%23100%2C+Los+Angeles%2C+CA+90049!5e0!3m2!1sen!2sus!4v1466107140529" id="google_map" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>


</main>
{% endblock %}
