{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
<h2>Pacific Palisades Homeowners Associations</h2>
<p>Pacific Palisades is divided into several tracts which are governed by the Covenants, Conditions and Restrictions (CC&amp;Rs) of individual homeowners' associations dedicated to preserving and improving the community. In most instances, it is the legal obligation of the homeowner to obtain prior approval of new construction or proposed remodeling of residential property from the appropriate homeowner's association.</p>

<table border="0" align="center" cellpadding="6" cellspacing="6" class="homeowner-table">
  <tbody>
  <tr height="30" bgcolor="#fff">
    <th scope="col" width="190">Association</th>
    <th scope="col" width="140">Mailing Address</th>
    <th scope="col" width="200">Website</th>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">California Riviera Homeowners Association</td>
    <td style="padding: 5px">PO Box 1722</td>
    <td style="padding: 5px">
    <a href="http://www.rivierahomeowners.com" target="_blank">rivierahomeowners.com</a>
    </td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Castellammare Mesa Homeowners</td>
    <td style="padding: 5px">PO Box 742</td>
    <td style="padding: 5px"><a href="http://www.castellammaremesa.com" target="_blank">castellammaremesa.com</a></td>
  </tr>
    <tr bgcolor="#fff">
    <td style="padding: 5px">Huntington Palisades Property Owners Corp. Ltd.</td>
    <td style="padding: 5px">PO Box 1585</td>
    <td style="padding: 5px"><a href="http://www.hppoc.org" target="_blank">hppoc.org</a></td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Marquez Knolls Property Owners Association</td>
    <td style="padding: 5px">PO Box 1307</td>
    <td style="padding: 5px"><a href="http://www.marquezknolls.com" target="_blank">marquezknolls.com</a></td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Miramar Homeowners Association</td>
    <td style="padding: 5px">&nbsp;</td>
    <td style="padding: 5px"><a href="http://www.miramarhoa.org" target="_blank">miramarhoa.org</a></td>
  </tr>
    <tr bgcolor="#fff">
    <td style="padding: 5px">Pacific View Estates Homeowners Association</td>
    <td style="padding: 5px">&nbsp;</td>
    <td style="padding: 5px"><a href="http://www.pacificviewestates.org.com" target="_blank">pacificviewestates.org</a></td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Palisades Highlands Presidents Council</td>
    <td style="padding: 5px">1315 Palisades Dr.</td>
    <td style="padding: 5px"><a href="http://www.pphra.com" target="_blank">pphra.com</a></td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Palisair Homeowners Association</td>
    <td style="padding: 5px">PO Box 901</td>
    <td style="padding: 5px"><a href="http://www.palisair.org" target="_blank">palisair.org</a></td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Riviera Estates Association</td>
    <td style="padding: 5px">PO Box 1585</td>
    <td style="padding: 5px"><a href="http://www.rivierahomeowners.com" target="_blank">rivierahomeowners.com</a></td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Rustic Canyon Homeowners Association</td>
    <td style="padding: 5px">&nbsp;</td>
    <td style="padding: 5px">N/A</td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Sunset Mesa Property Owners Association</td>
    <td style="padding: 5px">&nbsp;</td>
    <td style="padding: 5px"><a href="http://www.sunsetmesa.net" target="_blank">sunsetmesa.net</a></td>
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">Upper Riviera Homeowners Association</td>
    <td style="padding: 5px">PO Box 373</td>
    <td style="padding: 5px">N/A</td>
  </tr>
  <tr bgcolor="#fff">
  </tr>
  <tr bgcolor="#fff">
    <td style="padding: 5px">West Sunset Homeowners Association</td>
    <td style="padding: 5px">PO Box 1119</td>
    <td style="padding: 5px">N/A</td>
  </tr>
  </tbody>
</table>
</main>
{% endblock %}
