{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>

  <h1>Testimonials</h1>

  <div>
    <p>"Dear Adriane,
      Thank you for compiling such a detailed and professional competitive market analysis of the Palisades houses. I really appreciate the hard work you put into it."
    </p>
    <p class="client-name">In appreciation, <br>
      Juliana M
    </p>
  </div>

  <div>
    <p class="second-testimonial">"Dear Adriane,
      Thank you so much for all of your help and hard work. You really made the process much easier for us. We look forward to many more years of friendship and business."
    </p>
    <p class="client-name">Love, <br>
      Melody and Darren
    </p>
  </div>

  <div>
    <p>"Dear Adriane,
      Thank you so much for another successful transaction. I have enjoyed working with you over the past twenty years. You get me top dollar every time.
      You are the only person my family and I trust to handle our home sales and purchases because you and honest and trustworthy."
    </p>
    <p class="client-name">Regards, <br>
      Merhdad
    </p>
  </div>

  <div>
    <p class="fourth-testimonial">"Dear Adriane,
      Thank you so much for helping me sell my home in Brentwood and scale down to another home and two investment condos. You helped me so much. I could have not done it without you. You have so much patience. You even drove me around while I didn't have a car. You work very hard."
    </p>
    <p class="client-name">Sincerely, <br>
      Fara
    </p>
  </div>

</main>
{% endblock %}
