{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades - Home' %}
{% set page_description = '' %}
{% set append_head = '<!-- Used for slider only --><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">' %}

{% extends "base.njk" %}

{% block content %}
    <div class="container">

      <div class="hero">
        <!-- <div class="hero-shade"> -->

          <div class="hero-text">
            <!-- <div class="topspan">Adriane Westland Presents</div> -->
            <h1>Living in the Palisades</h1>
            <h2 class="sub-title">The ultimate resource for Pacific Palisades Real Estate since 1994</h2>
            <div class="hero-buttons">
              <a href="#">I want to buy</a>
              <a href="#">I want to sell</a>
            </div>
          </div>

          <ul id="all_slides">
            <li class="slide active"></li>
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
            <li class="slide"></li>
          </ul>

        <!-- </div> -->
      </div>
    </div>
    <main>
      <div class="idx-search-wrapper">
        <h2 id="search">Home Search</h2>
        <script type="text/javascript" src="https://www.themls.com/IDXNET/Scripts/idxwidget.js"></script><iframe id="idxFrame"  style="padding:0; margin:0; padding-top: 0px; border:0px solid transparent; background-color:transparent;" frameborder="0" scrolling="no" src="https://www.themls.com/IDXNET/Default.aspx?wid=MgMVwPGG6%2fe%2fZu%2fuu3lAM0DUCXY3xRCLvXoCbb1PA8ljA5hnj25u6%2bY2dY%2blg8ET" width="933px" height="900px"></iframe>
      </div>
    </main>

    <script>
      let slides = document.querySelectorAll('#all_slides .slide');
      let currentSlide = 0;
      const nextSlide = () => {
        goToSlide(currentSlide + 1);
      }
      let slideInterval = setInterval(nextSlide, 6000);

      const goToSlide = (s) => {
        if (typeof(slides[currentSlide].className) === 'undefined') {
          return null
        }
        slides[currentSlide].className = 'slide';
        currentSlide = (s + slides.length) % slides.length;
        slides[currentSlide].className = 'slide active';
      }
    </script>
{% endblock %}

