{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
  <h1>Exclusive: Latest Pacific Palisades Leases</h1>
  <div class="aside-message">
    <aside>
      <h4>Let Me Find You the Right Lease</h4>
      <div class="contact-form-wrapper">
        <form id="message-form" autocomplete="on" novalidate>
              <p>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Name">
                <span id="name-error" class="error-text"></span>
                <br />
              </p>
              <p>
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" placeholder="Phone Number">
                <span id="phone-email-error" class="error-text"></span>
                <span id="phone-error" class="error-text"></span>
                <br />
              </p>
              <p>
                <label for="email_address">Or Email</label>
                <input type="email" id="email_address" placeholder="Email">
                <span id="email-error" class="error-text"></span>
                <br />
              </p>

              <p>Price Range?
                <span>
                  <select id="price">
                    <!-- <option disabled selected value></option> -->
                    <option value="" selected>Select Price</option>
                    <option value="Lease $2K - $4K">$2K - $4K</option>
                    <option value="Lease $4K - $7K">$4K - $7K</option>
                    <option value="Lease $8K - $12K">$8K - $12K</option>
                    <option value="Lease $12K+">$12K+</option>
                  </select>
                </span>
              </p>

              <p>When do you want to lease? <br />
                <input type="radio" name="time"  id="time" value="Lease Now" />
                  &nbsp;&nbsp; Now!<br />
                <input type="radio" name="time"  id="time" value="Lease 1 - 3 Months" />
                  &nbsp;&nbsp; 1 - 3 Months<br />
                <input type="radio" name="time"  id="time" value="Lease 3 - 6 Months" />
                  &nbsp;&nbsp; 3 - 6 Months<br />
                <input type="radio" name="time"  id="time" value="Lease 6 Months +" />
                  &nbsp;&nbsp; 6 Months +
              </p>

              <p>
                <label for="message">Message</label>
                <textarea name="message" id="message" placeholder="Message" cols="30" rows="10"></textarea><br />
              </p>
          <button type="submit">Send Message</button>
        </form>
    
        <div id="mailer-message"></div>
      </div>
    </aside>
    <article>
      <h4>Call Adriane Westland at 310-403-5535 to Schedule a private showing</h4>
    </article>

  </div>

  <!-- 
  <div class="idx-container">
    <iframe class="doc-iframe" name="docFrame" id="docFrame" width="600px" height=650px frameborder="0" style="overflow:auto" marginwidth="0" marginheight="0" scrolling="auto" src="http://idx.themls.com/adriane_westland/one-click/results/results.cfm?oneclick=pal_lease"></iframe>
  </div>
  -->

</main>
<script>
  const sendForm = (e) => {
    e.preventDefault()
    const MAILER_URL = 'https://api.westland.net/litp-mailer/'
    // Form constants
    const name = document.getElementById('name').value.trim()
    const phone = document.getElementById('phone').value.trim()
    const email_address = document.getElementById('email_address').value.trim()
    const message = document.getElementById('message').value.trim()
    let price = ''
    if (document.getElementById('price') !== null) {
      price = document.getElementById('price').value
    }
    let time = ''
    if (document.querySelector('input[name="time"]:checked') !== null) {
      time = document.querySelector('input[name="time"]:checked').value
    }
    const now = new Date()
    // Mailgun constants
    const email = `postmaster@mg.westland.net`
    const subject = `LITP WEBSITE MESSAGE from: ${name}`
    const text = (`Message from ${name}
      ${now}
      Name: ${name}
      Email: ${email_address}
      Phone: ${phone}
      Price: ${price}
      Time: ${time}
      Message: ${message}`
    )
    
    // Clear fetch message
    document.getElementById("mailer-message").innerHTML = ""
    
    // Clear form validation
    document.getElementById("name-error").innerHTML = ""
    document.getElementById("phone-email-error").innerHTML = ""
    document.getElementById("phone-error").innerHTML = ""
    document.getElementById("email-error").innerHTML = ""
    
    // Form validation
    let regex = ""
    let isNameValid = false
    let isPhoneOrEmail = false
    let isPhoneValid = true
    let isEmailValid = true
  
    if(name == "") {
      let message = '&nbsp; Please fill in your name'
      document.getElementById("name-error").innerHTML = message
      isNameValid = false
    } else {
      isNameValid = true
    }
  
    if((phone != "") || (email_address != "") ) {
      document.getElementById("phone-email-error").innerHTML = ""
      isPhoneOrEmail = true
    
      if(phone != "") {
        regex = /^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$/
        if(regex.test(phone) === false) {
          let message = '&nbsp; Please enter a correct phone number'
          document.getElementById("phone-error").innerHTML = message
          isPhoneValid = false
        } else {
          isPhoneValid = true
        }
      }
  
      if(email_address != "") {
        regex = /^\S+@\S+\.\S+$/
        if(regex.test(email_address) === false) {
          let message = '&nbsp; Please enter a correct email'
          document.getElementById("email-error").innerHTML = message
          isEmailValid = false
        } else {
          isEmailValid = true
        }
      }
    } else {
      let message = '&nbsp; Please enter phone or email'
      document.getElementById("phone-email-error").innerHTML = message
      isPhoneOrEmail = false
    }
    
    if(isNameValid == false) {
      return false
    }
    if(isPhoneOrEmail == false) {
      return false
    }
    if(isPhoneValid == false){
      return false
    }
    if(isEmailValid == false){
      return false
    }
    // End form validation
    
      fetch(MAILER_URL, {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ 
          email,
          subject,
          text,
        })
      })
      .then((data) => {
        if(data.status === 200) {
          let message = '<span class="message-success">Message Sent</span>'
          document.getElementById("mailer-message").innerHTML = message
        }
        console.log('success!', data)
      })
      .catch((err) => {
        console.log('error!', err)
        let message = '<span class="message-error">Message Error</span>'
        document.getElementById("mailer-message").innerHTML = message
      })
      messageForm.reset()
  }
  
  const messageForm = document.getElementById('message-form')
  messageForm.addEventListener('submit', sendForm)
  
  </script>
{% endblock %}
