<hr>
<footer>
<div class="realestate-footer">

  <div class="mls-info">
    <img src="/images/mls-logo.png" alt="MLS Logo">

    <p><strong>Powered by TheMLS.com</strong><br>
    The information provided by Combined LA/Westside Multiple Listing Service, Inc. is intended for the sole and exclusive use of its Participants and Subscribers. The information provided herein is copyrighted in 2020 by TheMLS™. Any unauthorized use or disclosure to persons or entities other than to authorized Participants and Subscribers is strictly prohibited and a violation of the copyright.</p>
  </div>

  <div class="adriane-info">
    <p><strong>DRE #00935191</strong></p>

    <div class="contact-info">
      <p>Website <a href="http://www.livinginthepalisades.com/" target="_blank">LivingInThePalisades.com</a></p>
      <p>Email <a href="mailto:AKWRealtor@gmail.com">AKWRealtor@gmail.com</a></p>
    </div>

    <p><strong>Rodeo Realty</strong><br>
    Brentwood Office<br>
    11940 San Vicente Blvd. #100<br>
    Los Angeles CA 90049</p>
  </div>

  <div class="adriane-block-footer">
    <div class="adriane-block">
      <div class="title">
        <span>Looking for a new home?</span>
      </div>
      <div class="photo">
        <img src="/images/adriane.jpg" alt="Adriane Westland">
      </div>
      <div class="logo">
        <img src="/images/rodeo-realty.jpg" alt="Rodeo Realty Logo">
      </div>
      <div class="name">
        <span>Adriane Westland</span>
      </div>
      <div class="phone">
        <span>310-403-5535</span>
      </div>
    </div>
  </div>

</div>
</footer>
