    <!-- Section: Header -->
    <header class="header">
      <div class="container">
        <div class="wrapper">

          <div class="header-item-left">
            <div class="adriane-block-footer">
              <div class="adriane-block">
                <div class="title">
                  <span>Looking for a new home?</span>
                </div>
                <div class="photo">
                  <img src="/images/adriane.jpg" alt="Adriane Westland">
                </div>
                <div class="logo">
                  <img src="/images/rodeo-realty.jpg" alt="Rodeo Realty Logo">
                </div>
                <div class="name">
                  <span>Adriane Westland</span>
                </div>
                <div class="phone">
                  <span>310-403-5535</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Section: Navbar Menu -->
          <div class="header-item-center">
            <div class="overlay"></div>
            <nav class="menu">
              <div class="menu-mobile-header">
                <button type="button" class="menu-mobile-arrow"><i class="ion ion-ios-arrow-back"></i></button>
                <div class="menu-mobile-title"></div>
                <button type="button" class="menu-mobile-close"><i class="ion ion-ios-close"></i></button>
              </div>
              <ul class="menu-section">
                <li><a href="#">Home</a></li>
                <li class="menu-item-has-children">
                  <a href="#">About <i class="ion ion-ios-arrow-down"></i></a>
                    <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="#">Bio</a></li>
                      <li><a href="#">Testimonials</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Buyers <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="#">Buy Property</a></li>
                      <li><a href="#">Leases</a></li>
                      <li><a href="#">Listed Properties</a></li>
                      <li><a href="#">Neighborhoods</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Sellers <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="#">Submit Property</a></li>
                      <li><a href="#">Free Market Analysis</a></li>
                      <li><a href="#">Probates and Trust</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Community <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="#">Homeowner's Association</a></li>
                      <li><a href="#">4th of July Parade</a></li>
                      <li><a href="#">Charity Pickup</a></li>
                      <li><a href="#">Restaurants</a></li>
                      <li><a href="#">Schools</a></li>
                      <li><a href="#">Places of Worship</a></li>
                      <li><a href="#">Hiking Trails</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Media <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="#">Venice Beach WebCam</a></li>
                      <li><a href="#">Videos</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>

          {# <div class="header-item-right">
            <a href="#" class="menu-icon"><i class="ion ion-md-search"></i></a>
            <a href="#" class="menu-icon"><i class="ion ion-md-heart"></i></a>
            <a href="#" class="menu-icon"><i class="ion ion-md-cart"></i></a>
            <button type="button" class="menu-mobile-trigger"> #}
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>

        </div>
      </div>
    </header>


