    <!-- Section: Header -->
    <header class="header">
      <div class="menu-container">
        <div class="wrapper">

          <div class="header-item-left">
            <!-- Adriane block -->
            <div class="adriane-block">
              <div class="title">
                <span>Looking for a new home?</span>
              </div>
              <div class="photo">
                <img src="/images/adriane.jpg" alt="Adriane Westland">
              </div>
              <div class="logo">
                <img src="/images/rodeo-realty.jpg" alt="Rodeo Realty Logo">
              </div>
              <div class="name">
                <span>Adriane Westland</span>
              </div>
              <div class="phone">
                <span>310-403-5535</span>
              </div>
            </div>

            <div class="adriane-block-mobile">
              <div class="name">Adriane Westland</div>
              <div class="phone">310-403-5535</div>
              <div class="web-site">Living in the Palisades</div>
            </div>
          </div>
          <!-- Section: Navbar Menu -->
          <div class="header-item-center">
            <div class="overlay"></div>
            <nav class="menu">
              <div class="menu-mobile-header">
                <button type="button" class="menu-mobile-arrow"><i class="ion ion-ios-arrow-back"></i></button>
                <div class="menu-mobile-title"></div>
                <button type="button" class="menu-mobile-close"><i class="ion ion-ios-close"></i></button>
              </div>
              <ul class="menu-section">
                <li><a href="/">Home</a></li>
                <li class="menu-item-has-children">
                  <a href="#">About <i class="ion ion-ios-arrow-down"></i></a>
                    <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="/about">About Adriane</a></li>
                      <li><a href="/testimonials">Testimonials</a></li>
                      <li><a href="/contact">Contact</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Buyers <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="/buy-property">Buy Property</a></li>
                      <li><a href="/leases">Leases</a></li>
                      <li><a href="/listed-properties">Listed Properties</a></li>
                      <li><a href="/neighborhoods">Neighborhoods</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Sellers <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="/submit-property">Submit Property</a></li>
                      <li><a href="/free-market-analysis">Free Market Analysis</a></li>
                      <li><a href="/probate-and-trust">Probates and Trust</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Community <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="/homeowners-association">Homeowner's Association</a></li>
                      <li><a href="/forth-of-july-parade">4th of July Parade</a></li>
                      <li><a href="/charity-pickup">Charity Pickup</a></li>
                      <li><a href="/restaurants">Restaurants</a></li>
                      <li><a href="/schools">Schools</a></li>
                      <li><a href="/places-of-worship">Places of Worship</a></li>
                      <li><a href="/hiking-trails">Hiking Trails</a></li>
                    </ul>
                  </div>
                </li>
                {# 
                <li class="menu-item-has-children">
                  <a href="#">Media <i class="ion ion-ios-arrow-down"></i></a>
                  <div class="menu-subs menu-column-1">
                    <ul>
                      <li><a href="/venice-beach-webcam">Venice Beach WebCam</a></li>
                      <li><a href="/videos">Videos</a></li>
                    </ul>
                  </div>
                </li>
                 #}
                <li>
                  <a href="#search">Search</a>
              </ul>
            </nav>
          </div>

          <!-- Icons -->
          <div class="header-item-right">
            {# <a href="#" class="menu-icon"><i class="ion ion-md-search"></i></a>
            <a href="#" class="menu-icon"><i class="ion ion-md-heart"></i></a>
            <a href="#" class="menu-icon"><i class="ion ion-md-cart"></i></a>            #}
            <button type="button" class="menu-mobile-trigger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>

        </div>
      </div>
    </header>
