{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>

  <h1>Probate and Trusts</h1>
  <h2>1. What is a Living Trust?</h2>

    <p>This is a written legal document that partially substitutes for a will. With a living trust, your assets (your home, investment properties, bank accounts and stocks, for example) are put into the trust, administered for your benefit during your lifetime, and then transferred to your beneficiaries when you die. You decide how they will be distributed, instead of someone else, when you are not able to.</p>
    <p>Since most people name themselves as the trustee in charge of managing their trust’s asset, you will be in control. You can also name a successor trustee, either a person or an institution, who will manage the trust’s assets in the event you become unable or unwilling to do so yourself.</p>
    <p>Often, the living trust is a “revocable” living trust. This kind of trust may be revoked or amended by the person who created it (commonly known as the trustor or grantor) as long as they are still competent.</p>
    <p>Your living trust document:</p>
    <ul>
      <li>Gives the trustee the legal right to manage and control the assets held in your trust.</li>
      <li>Instructs the trustee to manage the trust’s assets for your benefit during your lifetime.</li>
      <li>Names the beneficiaries (persons, charitable organizations or sometimes pets!) who are to receive your trust’s assets when you die.</li>
      <li>Gives guidance and authority to the trustee to manage and distribute your trust’s assets. The trustee is a fiduciary, which means he or she holds a position of trust and confidence and is subject to strict responsibilities and very high standards and must hold and use trust assets solely for the benefit of the trust’s beneficiaries.</li>
    </ul>
    <p>A living trust can be an important part — and in many cases, the most important part — of your estate plan.</p>
    <h2>2. What Can a Living Trust Do for Me?</h2>
    <p>It can help ensure that your assets will be managed according to your wishes — even if you become unable to manage them yourself.</p>
    <p>In setting up your living trust, you may serve as its trustee initially or you may choose someone else to do so. You can name a trustee to take over the trust’s management for your benefit if you ever become unable or unwilling to manage it yourself. And at your death, the trustee — similar to the executor of a will — would then gather your assets, pay any debts, claims and taxes, and distribute your assets according to your instructions. Unlike a will, however, this can all be done without court supervision or approval.</p>
    <h2>3. Should Everyone Have a Living Trust?</h2>
    <p>No. Whether or not to create a trust is a personal decision. Young married couples without significant assets and without children, who intend to leave their assets to each other when the first one of them dies do not necessarily need a living trust. However, if the couple should die in a common accident, or shortly after each other, without a trust their estate(s) may be subject to a probate. (See discussion below.) Other persons who do not have significant assets (less than $150,000) and have very simple estate plans also do not need a living trust. Finally, anyone who believes that court supervision over the administration of his or her estate would be beneficial should not have a living trust. The greater the value of your assets especially real estate, the greater the benefits of a living trust. Having a living trust could be important in the event of an accident or sudden illness.</p>
    <p><strong>Benefits of a Trust</strong></p>
    <p>Some choose an LLC to work concurrently with a trust, which provides the best protection and estate treatment for your property. The revocable living trust is probably the most common and useful for holding title to real estate. However, there are many types of trusts. The major benefit from holding property in a trust is that the property avoids have to have a court-supervised probate after your death. The advantages of avoiding probate are numerous. Distribution of property held in a living trust can be much faster than probate, assets in a living trust can be more easily accessible to the beneficiaries of the trust, and the cost of distributing assets held in a living trust is often less than going through probate.</p>
    <p><em>As Always, this is a general guide and this is not legal advice.</em></p>
    <p>Use Both an LLC and a Trust</p>
    <p>Because an LLC and a trust both provide so many benefits to the owner of real property, a savvy investor should consider using both a LLC and a trust to adequately protect himself and his property. Utilizing both a trust and a LLC creates the best combination of liability protection and favorable estate planning. To accomplish this, the owner should hold the investment property in a single member LLC, with the living trust as the sole member of the LLC. Here, the trust is the owner of the company and holds all of the interests of the LLC. This form of ownership gives you an added layer of protection from the LLC as well as the additional estate planning benefits of a trust.</p>
    <p>As Always, this is a general guide and this is not legal advice. Please consult an attorney. For more detailed information on estate planning, order a free copy of the State Bar Pamphlet: Do I Need Estate Planning?</p>
</div>
</main>
{% endblock %}
