// LivingInThePalisades - Base

main {
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  // font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  background: #fafafa;
  color: $text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.5;
  overflow-x: hidden;
}

main {
  margin: 110px 20px 40px;
}

a,
button {
  background: none;
  border: none;
  color: steelblue;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  a,
  button {
    cursor: default !important;
    border: none;
    outline: none;
  }
}

img,
video {
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.container {
  // border: 1px dashed green;
  // max-width: 80rem;
  // padding: 0 2rem;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}

.brand {
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: inherit;
  color: $dark-blue;
  border: none;
  outline: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.idx-search-wrapper {
  margin-top: 40px;
  text-align: center;
}
