// * {
//   margin: 0;
//   padding: 0;
// }


.hero {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 100vh;
  // opacity: 80%;
  position: relative;
  width: 100%;

  // .hero-shade {
  //   background-color: rgba(0,0,0, 0.4);
  //   width: 100%;
  //   height: 100%;

  // }

  .hero-text {
    color: #fff;
    left: 50%;
    margin: 0 auto;
    max-width: 800px;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;

    text-shadow: 1px 1px 1px rgb(75, 75, 75);

    
  }

  // .topspan {
  //   font-size: 24px;
  //   font-weight: 600;
  //   // text-transform: uppercase;
  // }

  h1 {
    font-size: 86px;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
  }

  h2 {
    font-size: 24px;
    font-style: italic;
    margin-top: 5px;
  }

  .hero-buttons {
    margin-top: 28px;
    max-width: 500px;
    // width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;

    a {

      // -ms-flex-align: center;
      // -o-transition: all .3s ease;
      // -webkit-box-align: center;
      // -webkit-box-pack: center;
      // -webkit-transition: all .3s ease;
      // text-align: center;
      // transition: all .3s ease;
      align-items: center;
      background: #000;
      color: #fff;
      display: flex;
      font-size: 14px;
      height: 57px;
      justify-content: center;
      margin: 0 3px;
      text-transform: uppercase;
      width: 50%;
    }
  }

  // Carousel
  #all_slides {
      position: relative;
      height: 100vh;
      padding: 0px;
      margin: 0px;
      list-style-type: none;
  }

  .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      -webkit-transition: opacity 2s;
      -moz-transition: opacity 2s;
      -o-transition: opacity 2s;
      transition: opacity 2s;
  }

  .active {
      opacity: 1;
      z-index: 2;
  }

  .controls {
      display: none;
  }

  .slide {
      font-size: 40px;
      padding: 40px;
      box-sizing: border-box;
      background: none;
      color: #fff;
      background-size: cover;
  }

  .slide:nth-of-type(1) {
    background-image: url('/images/pacific-palisades-coast-large.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .slide:nth-of-type(2) {
    background-image: url('/images/interior-large.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .slide:nth-of-type(3) {
    background-image: url('/images/exterior-large.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .slide:nth-of-type(4) {
    background-image: url('/images/interior3-large.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .slide:nth-of-type(5) {
    background-image: url('/images/interior2-large.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .controls {
    display: inline-block;
    position: relative;
    top: 1rem;
    right: .5rem;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 1.5rem;
    background: gold;
    width: 3rem;
    height: 3rem;
    margin-left: .5rem;
  }

  .controls:hover,
  .controls:focus {
    background: #eee;
    color: #333;
  }

  .buttons {
    position: absolute;
    right: .5rem;
    top: 0px;
    z-index: 10;
    font-size: 0px;
  }
}

@media (max-width: 600px) {
  .hero-text {
    h1 {
      font-size: 58px;
      margin-top: 100px;
    }
    h2 {
      font-size: 22px;
    }
  }
}
