{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>

  <h1>Listed Properties</h1>

  <h2>Featured Properties</h2>
  <div id="featured"></div>

  <h2>Sold/Leased Properties</h2>
  <div id="soldLeased"></div>

</main>
<script>

const featuredProperties = [
  {
    "address": "17819 Castellammare Drive , Pacific Palisades",
    "image": "/images-properties/castellammare_17819.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Dramatic ocean views from almost every room in this custom newly built home, making it the ultimate in Seaside living.",
    "bathrooms": "5",
    "bedrooms": "6",
  },
  {
    "address": "764 ILIFF ST , PACIFIC PALISADES",
    "image": "/images-properties/iliff_764.jpg",
    "propertyCategory": "Fine Homes",
    "description": "IM Home Presents a Stunning Contemporary Farmhouse! New construction with 6000 sq ft of luxurious living space.",
    "bathrooms": "8",
    "bedrooms": "6",
  },
  {
    "address": "770 ILIFF ST , PACIFIC PALISADES",
    "image": "/images-properties/iliff_770.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Warm and inviting turn-key one level traditional on spacious 7148 corner lot.",
    "bathrooms": "2",
    "bedrooms": "2",
  },
  {
    "address": "1026 Corsica DR , Pacific Palisades",
    "image": "/images-properties/corsica_1026.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Probate sale in prime Riviera location.",
    "bathrooms": "5",
    "bedrooms": "5",
  },
  {
    "address": "1329 Goucher ST , Pacific Palisades",
    "image": "/images-properties/goucher_1329.jpg",
    "propertyCategory": "Fine Homes",
    "description": "This 4 bedroom, 3.5 bath, 3,776 sqft architectural home by award winning architect Steven Ehrlich.",
    "bathrooms": "4",
    "bedrooms": "4",
  },
  {
    "address": "610 Via De La Paz , Pacific Palisades",
    "image": "/images-properties/via_de_la_paz_610.jpg",
    "propertyCategory": "Fine Homes",
    "description": "",
    "bathrooms": "3",
    "bedrooms": "5",
  },
  {
    "address": "16899 Calle De Sarah , Pacific Palisades",
    "image": "/images-properties/calle_de_sarah.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Palisades Paradise at its finest located within the Enclave, a private gated community with panoramic ocean and mountain views.",
    "bathrooms": "7",
    "bedrooms": "5",
  },
  {
    "address": "16665 Linda Ter , Pacific Palisades",
    "image": "/images-properties/linda_ter_16665.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Martha's Vineyard Lighthouse. Rarely does a property of such presence and privacy become available for sale.",
    "bathrooms": "5",
    "bedrooms": "5",
  },
]

const soldLeasedProperties = [
  {
    "address": "1337 Grant ST Santa Monica",
    "image": "/images-properties/grant_1337.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Stunning Brand New Construction! Classic Cedar-Shingle Cape Cod style home, built w/High-End Finishes.",
    "bathrooms": "3",
    "bedrooms": "4",
  },
  {
    "address": "1217 Las Pulgas RD Pacific Palisades",
    "image": "/images-properties/las_pulgas_1217.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Ocean View Home just above Sunset in the serene hills of Pacific Palisades.",
    "bathrooms": "2.5",
    "bedrooms": "4",
  },
  {
    "address": "1526 San Vicente Blvd, Santa Monica",
    "image": "/images-properties/san_vicente.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Beautifully Remodeled, single level FURNISHED Home, in the ideal Santa Monica Location. Very Private. 3 bedrooms plus a Guest house.",
    "bathrooms": "4",
    "bedrooms": "4",
  },
  {
    "address": "1128 San Vicente Blvd, Santa Monica",
    "image": "/images-properties/san_vicente_1128.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Traditional pied-a terre on a stunning 9593 SF lot in Prime Santa Monica. Set on a circular drive, far back from the street, remodeled 2-bedroom, 1 bath.",
    "bathrooms": "1",
    "bedrooms": "2",
  },
  {
    "address": "602 11TH ST Santa Monica",
    "image": "/images-properties/san_vicente_1128.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Beautifully updated Craftsman-style home, loaded with charm and character. Home features beautiful wood floors,arched-doorways, white marble bathrooms.",
    "bathrooms": "3",
    "bedrooms": "4",
  },
  {
    "address": "750 S Bundy DR #304 Los Angeles",
    "image": "/images-properties/bundy_750.jpg",
    "propertyCategory": "Condo",
    "description": "Stunning Penthouse Unit with Soaring 2-Story Ceilings, in the heart of Brentwood.",
    "bathrooms": "3",
    "bedrooms": "2",
  },
  {
    "address": "938 18TH ST #3 Santa Monica",
    "image": "/images-properties/18th_938.jpg",
    "propertyCategory": "Condo",
    "description": "Move-in Condition Townhouse close to Montana Ave. 2-Bedrooms, 2.5-Baths, plus a Breakfast Area.",
    "bathrooms": "2.5",
    "bedrooms": "2",
  },
  {
    "address": "1815 Manning Ave #302 Los Angeles",
    "image": "/images-properties/manning_1815.jpg",
    "propertyCategory": "Condo",
    "description": "Luxury Single Level Condo featuring 2 Bedrooms + Den, with views out to Century City.",
    "bathrooms": "2.5",
    "bedrooms": "2",
  },
  {
    "address": "1247 23RD ST #D Santa Monica",
    "image": "/images-properties/23rd_1247.jpg",
    "propertyCategory": "Condo",
    "description": "Stunning 2 BR, 3 Bath + Huge Loft, w/Roof-Top Deck & Pvt Garage. Simply Gorgeous!",
    "bathrooms": "3",
    "bedrooms": "2",
  },
  {
    "address": "1815 Butler Ave Los Angeles",
    "image": "/images-properties/butler_1815.jpg",
    "propertyCategory": "Apartment",
    "description": "Spacious unit with nearly 1600 sf & features lots of light.large living living room with patio & a lovely view of trees.",
    "bathrooms": "2.5",
    "bedrooms": "2",
  },
  {
    "address": "1630 Greenfield Ave #304 Los Angeles",
    "image": "/images-properties/greenfield_1630.jpg",
    "propertyCategory": "Condo",
    "description": "Luxury TOP FLOOR FRONT CORNER unit. Stunning 14-ft Ceilings & Skylight fill the unit w/light. Nice tree-top & city views.",
    "bathrooms": "1.75",
    "bedrooms": "2",
  },
  {
    "address": "5901 Woodman Ave Van Nuys",
    "image": "/images-properties/woodman_5901.jpg",
    "propertyCategory": "Income",
    "description": "Traditional-Style 3-Unit Bldg in the prime Valley Glen area of Van Nuys. Nice Corner Property near lovely homes.(2+1) rented.",
    "bathrooms": "3",
    "bedrooms": "4",
  },
  {
    "address": "937 12TH ST #204 Santa Monica",
    "image": "/images-properties/12th_937.jpg",
    "propertyCategory": "Apartment",
    "description": "Large 1-Br unit in a sophisticated, modern building. Just 1 1/2 blocks south of famed Montana Ave, it is walking distance to shops, cafes & markets.",
    "bathrooms": "1",
    "bedrooms": "1",
  },
  {
    "address": "1048 3RD ST #105 Santa Monica",
    "image": "/images-properties/3rd_1048.jpg",
    "propertyCategory": "Condo",
    "description": "Stunning 3 bedroom Townhouse in the ultimate Santa Monica location, North of Wilshire and a short distance to the beach and 3rd St Promenade.",
    "bathrooms": "3.5",
    "bedrooms": "3",
  },
  {

    "address": "860 Radcliffe Ave Pacific Palisades",
    "image": "/images-properties/radcliffe_860.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Excellent location in the heart of the Palisades Village. Mostly original, 2 bedroom plus a den, single level home.",
    "bathrooms": "2",
    "bedrooms": "2",
  },
  {
    "address": "16157 Anoka DR Pacific Palisades",
    "image": "/images-properties/anoka_16157.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Hard to find, Brand New Construction for lease. 5 bedrooms upstairs (3 are huge) + Den/6th bedroom down + 5.5 baths.",
    "bathrooms": "5.5",
    "bedrooms": "6",
  },
  {
    "address": "929 Stone Canyon RD Los Angeles",
    "image": "/images-properties/stone_canyon_929.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Elegant, gated estate on presigous lower Stone Cyn.Beautifully updated with marble and stone baths, brand new wood floors upstairs and white marble floors dowstairs.",
    "bathrooms": "5",
    "bedrooms": "5",
  },
  {
    "address": "837 18TH ST #3 Santa Monica",
    "image": "/images-properties/18th_837.jpg",
    "propertyCategory": "Condo",
    "description": "Completely upgraded 3-story townhouse, w/ custom tiles,wood floors,gourmet kitchen,european-style baths,large loft area & private outdoor roof deck.",
    "bathrooms": "2.5",
    "bedrooms": "3",
  },
  {
    "address": "1006 Chantilly RD Los Angeles",
    "image": "/images-properties/chantilly_1006.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Terrific and hip 1-story contemporary with walls of glass looking out to a beautiful pool, & yard area.",
    "bathrooms": "3.5",
    "bedrooms": "4",
  },
  {
    "address": "10800 Wilshire BLVD #10NW Westwood",
    "image": "/images-properties/wilshire_10800.jpg",
    "propertyCategory": "Apartment",
    "description": "Gorgeous, Brand New 10th-floor unit at \"The Californian.\" 2-Br +2.5-Bth. Large living rm, dining rm & kitchen w/ marble floors.",
    "bathrooms": "2.5",
    "bedrooms": "2",
  },
  {
    "address": "2624 Highland Ave Santa Monica",
    "image": "/images-properties/highland_2624.jpg",
    "propertyCategory": "Condo",
    "description": "Stunning Architectural Townhouse in prime Ocean Park, featuring 3-Levels, Several Outdoor Patios & a Private 2-Car Garage.",
    "bathrooms": "2",
    "bedrooms": "2",
  },
  {

    "address": "602 Palisades DR Pacific Palisades",
    "image": "/images-properties/palisades_602.jpg",
    "propertyCategory": "Condo",
    "description": " Fabulous Unit at the Gated Sea Ridge Community! Practically a single family residence.",
    "bathrooms": "3",
    "bedrooms": "2",
  },
  {
    "address": "10739 Ashton Ave #101 Los Angeles",
    "image": "/images-properties/ashton_10739.jpg",
    "propertyCategory": "Condo",
    "description": "Sophisticated Unit in a Low Rise Building on Ashton. 2 Bedrooms 2.5 baths.",
    "bathrooms": "2.5",
    "bedrooms": "2",
  },
  {
    "address": "2249 20TH ST #2 Santa Monica",
    "image": "/images-properties/20th_2249.jpg",
    "propertyCategory": "Apartment",
    "description": "Spend the Spring through the 4th of July in sunny Santa Monica! Terrific short=term Furnished Rental.",
    "bathrooms": "2",
    "bedrooms": "1",
  },
  {
    "address": "2112 Century Park LN #405 Los Angeles",
    "image": "/images-properties/century_park_2112.jpg",
    "propertyCategory": "Condo",
    "description": "Penthouse Unit at Park Place! This Sunny, South-facing, Top Floor Unit features Vaulted Ceilings, Brand New Carpet & Paint, and a Split Bedroom Floor Plan.",
    "bathrooms": "2",
    "bedrooms": "2",
  },
  {
    "address": "11687 Montana Ave #103 Los Angeles",
    "image": "/images-properties/montana_11687.jpg",
    "propertyCategory": "Condo",
    "description": "Upscale & Modern Furnished Lease in Prime Brentwood! This Spacious unit is Completely Redone from top to bottom.",
    "bathrooms": "1",
    "bedrooms": "1",
  },
  {
    "address": "2263 Fox Hills DR #204 Los Angeles",
    "image": "/images-properties/fox_hills_2263.jpg",
    "propertyCategory": "Condo",
    "description": "Beautifully Remodeled 2+2 on the second floor near Century City. ",
    "bathrooms": "2",
    "bedrooms": "2",
  },
  {

    "address": "602 11TH ST Santa Monica",
    "image": "/images-properties/11th_602.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Beautifully updated Craftsman-style home, loaded with charm and character. Home features beautiful wood floors,arched-doorways, white marble bathrooms.",
    "bathrooms": "3",
    "bedrooms": "4",
  },
  {
    "address": "317 N Las Casa Ave Pacific Palisades",
    "image": "/images-properties/las_casa_317.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Spectacular Ocean View property. Set on a 15,000+sf lot (per assessor), this is an incredible opportunity to redo or create a stunning, new estate.",
    "bathrooms": "2",
    "bedrooms": "2",
  },
  {

    "address": "230 Arno Way Pacific Palisades",
    "image": "/images-properties/arno_230.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Enjoy Stunning, Panoramic Ocean Views from this ocean-facing home in the prestigious area above the Bel Air Bay Club.",
    "bathrooms": "1.75",
    "bedrooms": "3",
  },
  {

    "address": "2210 Ridgemont Dr Los Angeles",
    "image": "/images-properties/ridgemont_2210.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Best Deal in Laurel Cyn! Wonderful Mid-Centurty w/ Stunning Hill-Top Views & Nicely Upgraded.",
    "bathrooms": "2",
    "bedrooms": "3",
  },
  {
    "address": "12928 Maxella Ave Los Angeles",
    "image": "/images-properties/maxella_12928.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Beautiful Traditional Home situated on a Prime Corner Lot. It is very Light and Bright with a great sense of privacy.",
    "bathrooms": "1",
    "bedrooms": "2",
  },
  {
    "address": "850 Galloway ST Pacific Palisades",
    "image": "/images-properties/galloway_850.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Darling 1-Story Traditional in the popular Palisades Villlage Area. 3-Bedrooms, 1.5- Baths plus a Family Room off of the kitchen.",
    "bathrooms": "1.5",
    "bedrooms": "3",
  },
  {
    "address": "100 N Woodburn DR Los Angeles",
    "image": "/images-properties/woodburn_100.jpg",
    "propertyCategory": "Fine Homes",
    "description": "Spacious Contemporary set on a huge, flat lot behind the 24-hour Guard Gates of Brentwood Circle. ",
    "bathrooms": "5.5",
    "bedrooms": "5",
  }
]

featured.innerHTML = '<div>' + featuredProperties.map(function (property) {
	return (`
  <div class="property-card bs" >
    <img src="${property.image}">
    <div class="body">
      <h4>${property.address}</h4>
      <p>${property.description}</p>
    </div>
  </div>
  `)
}).join('')

soldLeased.innerHTML = '<div>' + soldLeasedProperties.map(function (property) {
	return (`
  <div class="property-card bs" >
    <img src="${property.image}">
    <div class="body">
      <h4>${property.address}</h4>
      <p>${property.description}</p>
    </div>
  </div>
  `)
}).join('')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script>
  gsap.from(".property-card", {
        opacity: 0,
        delay: .7,
        y: '800',
        duration: .5,
        ease: 'power1',
        stagger: .2,
        scrollTrigger: ".property-card"
  })
</script>
{% endblock %}
