{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
               <h3>Sold/Leased Properties</h3> 
              </div> 
              <div class="recent-properties-content"> 
               <div class="caroufredsel-wrap"> 
                <ul> 
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/san_vicente.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a>Fine Homes</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>4</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>4</span> 

                     
                     <h2 class="property-title"> <a title="Visalia, NJ 93277">1526 San Vicente Blvd, Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Beautifully Remodeled, single level FURNISHED Home, in the ideal Santa Monica Location. Very Private. 3 bedrooms plus a Guest house.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/san_vicente_1128.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>1</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">1128 San Vicente Blvd, Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Traditional pied-a terre on a stunning 9593 SF lot in Prime Santa Monica. Set on a circular drive, far back from the street, remodeled 2-bedroom, 1 bath.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/san_vicente_1128.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>4</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">602 11TH ST Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Beautifully updated Craftsman-style home, loaded with charm and character. Home features beautiful wood floors,arched-doorways, white marble bathrooms.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/bundy_750.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">750 S Bundy DR #304 Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Stunning Penthouse Unit with Soaring 2-Story Ceilings, in the heart of Brentwood.</p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/18th_938.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Condo</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">938 18TH ST #3 Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Move-in Condition Townhouse close to Montana Ave. 2-Bedrooms, 2.5-Baths, plus a Breakfast Area.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/manning_1815.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">1815 Manning Ave #302 Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Luxury Single Level Condo featuring 2 Bedrooms + Den, with views out to Century City.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/23rd_1247.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">1247 23RD ST #D Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Stunning 2 BR, 3 Bath + Huge Loft, w/Roof-Top Deck &amp; Pvt Garage. Simply Gorgeous!</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/butler_1815.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Apartment</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">1815 Butler Ave Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Spacious unit with nearly 1600 sf &amp; features lots of light.large living living room with patio &amp; a lovely view of trees.</p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/greenfield_1630.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Condo</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>1.75</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">1630 Greenfield Ave #304 Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Luxury TOP FLOOR FRONT CORNER unit. Stunning 14-ft Ceilings &amp; Skylight fill the unit w/light. Nice tree-top &amp; city views.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/woodman_5901.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Income</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>4</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">5901 Woodman Ave Van Nuys</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Traditional-Style 3-Unit Bldg in the prime Valley Glen area of Van Nuys. Nice Corner Property near lovely homes.(2+1) rented.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/12th_937.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Apartment</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>1</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>1</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">937 12TH ST #204 Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Large 1-Br unit in a sophisticated, modern building. Just 1 1/2 blocks south of famed Montana Ave, it is walking distance to shops, cafes &amp; markets.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/3rd_1048.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>3</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">1048 3RD ST #105 Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Stunning 3 bedroom Townhouse in the ultimate Santa Monica location, North of Wilshire and a short distance to the beach and 3rd St Promenade.</p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/radcliffe_860.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Fine Homes</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">860 Radcliffe Ave Pacific Palisades</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Excellent location in the heart of the Palisades Village. Mostly original, 2 bedroom plus a den, single level home.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/anoka_16157.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>5.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>6</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">16157 Anoka DR Pacific Palisades</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Hard to find, Brand New Construction for lease. 5 bedrooms upstairs (3 are huge) + Den/6th bedroom down + 5.5 baths.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/stone_canyon_929.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>5</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">929 Stone Canyon RD Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Elegant, gated estate on presigous lower Stone Cyn.Beautifully updated with marble and stone baths, brand new wood floors upstairs and white marble floors dowstairs.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/18th_837.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>3</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">837 18TH ST #3 Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Completely upgraded 3-story townhouse, w/ custom tiles,wood floors,gourmet kitchen,european-style baths,large loft area &amp; private outdoor roof deck.</p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/chantilly_1006.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Fine Homes</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>4</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">1006 Chantilly RD Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Terrific and hip 1-story contemporary with walls of glass looking out to a beautiful pool, &amp; yard area.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/wilshire_10800.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Apartment</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">10800 Wilshire BLVD #10NW Westwood</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Gorgeous, Brand New 10th-floor unit at "The Californian." 2-Br +2.5-Bth. Large living rm, dining rm &amp; kitchen w/ marble floors.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/highland_2624.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">2624 Highland Ave Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Stunning Architectural Townhouse in prime Ocean Park, featuring 3-Levels, Several Outdoor Patios &amp; a Private 2-Car Garage.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/palisades_602.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">602 Palisades DR Pacific Palisades</a> </h2> 
                     <div class="property-excerpt"> 
                      <p> Fabulous Unit at the Gated Sea Ridge Community! Practically a single family residence.</p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/ashton_10739.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Condo</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">10739 Ashton Ave #101 Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Sophisticated Unit in a Low Rise Building on Ashton. 2 Bedrooms 2.5 baths.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/20th_2249.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Apartment</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>1</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">2249 20TH ST #2 Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Spend the Spring through the 4th of July in sunny Santa Monica! Terrific short=term Furnished Rental.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/century_park_2112.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">2112 Century Park LN #405 Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Penthouse Unit at Park Place! This Sunny, South-facing, Top Floor Unit features Vaulted Ceilings, Brand New Carpet &amp; Paint, and a Split Bedroom Floor Plan.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/montana_11687.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Condo</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>1</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>1</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">11687 Montana Ave #103 Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Upscale &amp; Modern Furnished Lease in Prime Brentwood! This Spacious unit is Completely Redone from top to bottom.</p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/fox_hills_2263.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Condo</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">2263 Fox Hills DR #204 Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Beautifully Remodeled 2+2 on the second floor near Century City. </p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/11th_602.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>4</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">602 11TH ST Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Beautifully updated Craftsman-style home, loaded with charm and character. Home features beautiful wood floors,arched-doorways, white marble bathrooms.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/las_casa_317.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">317 N Las Casa Ave Pacific Palisades</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Spectacular Ocean View property. Set on a 15,000+sf lot (per assessor), this is an incredible opportunity to redo or create a stunning, new estate.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/arno_230.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>1.75</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>3</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">230 Arno Way Pacific Palisades</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Enjoy Stunning, Panoramic Ocean Views from this ocean-facing home in the prestigious area above the Bel Air Bay Club.</p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/ridgemont_2210.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Fine Homes</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>3</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">2210 Ridgemont Dr Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Best Deal in Laurel Cyn! Wonderful Mid-Centurty w/ Stunning Hill-Top Views &amp; Nicely Upgraded.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/maxella_12928.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>1</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>2</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">12928 Maxella Ave Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Beautiful Traditional Home situated on a Prime Corner Lot. It is very Light and Bright with a great sense of privacy.</p> 

                  </div> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/galloway_850.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>1.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>3</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">850 Galloway ST Pacific Palisades</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Darling 1-Story Traditional in the popular Palisades Villlage Area. 3-Bedrooms, 1.5- Baths plus a Family Room off of the kitchen.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/woodburn_100.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>5.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>5</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">100 N Woodburn DR Los Angeles</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Spacious Contemporary set on a huge, flat lot behind the 24-hour Guard Gates of Brentwood Circle. </p> 

                  
                 <li> 
                  <div class="property-row"> 
                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/grant_1337.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"> <a href="#">Fine Homes</a> </span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>3</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>4</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Visalia, NJ 93277">1337 Grant ST Santa Monica</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Stunning Brand New Construction! Classic Cedar-Shingle Cape Cod style home, built w/High-End Finishes.</p> 

                   <article class="hentry has-featured"> 
                    <div class="property-featured"> <a class="content-thumb" href="#"> <img src="/images/las_pulgas_1217.jpg" class="attachment-property-thumb" alt=""> </a> <span class="property-category"><a href="#">Fine Homes</a></span> 
                     <div class="property-detail"> 
                      <div class="bathrooms">
                       <span>2.5</span> 
                      </div> 
                      <div class="bedrooms">
                       <span>4</span> 

                     
                     <h2 class="property-title"> <a href="#" title="Single Family Residential, NJ">1217 Las Pulgas RD Pacific Palisades</a> </h2> 
                     <div class="property-excerpt"> 
                      <p>Ocean View Home just above Sunset in the serene hills of Pacific Palisades.</p> 

                  
                </ul> 
               </div> <a class="caroufredsel-prev" href="#"></a> <a class="caroufredsel-next" href="#"></a> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> <!-- END SOLD/LEASED PROPERTIES SLIDER - SHORTCODE --> 
         </div> <!-- END MAIN CONTENT --> 
        </div> 
       </div> 
      </div> <!-- END NOO MAINBODY --> 
    
</main>
{% endblock %}
