{% extends "base.njk" %}
{% set page_title = 'Living in the Palisades' %}
{% set page_description = '' %}
{% set append_head = '' %}

{% extends "base.njk" %}

{% block content %}
<main>
<video id="real-state-video" width="560" height="315" controls="">
<source src="videos/Adriane Westland.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<a id="olympics-video">
<iframe class="youtube-videos" width="560" height="315" src="https://www.youtube.com/embed/gT0vAxVOhj4" frameborder="0" allowfullscreen=""></iframe>
</a>
<a id="opti-nationals">
<iframe class="youtube-videos" width="560" height="315" src="https://www.youtube.com/embed/cirJD1DMK34" frameborder="0" allowfullscreen=""></iframe>
</main>
{% endblock %}
